<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="questionBean"
          class="ru.javawebinar.springpolls.model.Poll">
        <constructor-arg value="Where to have a lunch"/>
    </bean>

    <bean id="dinerBean"
          class="ru.javawebinar.springpolls.model.Diner">
        <constructor-arg value="Diner #1"/>
    </bean>

    <bean id="answerBean"
          class="ru.javawebinar.springpolls.model.VotesCounter">
        <constructor-arg ref="questionBean"/>
    </bean>

</beans>